*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
    height: auto;
}
.page{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
    background: linear-gradient(139deg, rgba(218,218,228,1) 50%, rgba(48,50,50,1) 90%);
    color: rgb(70, 70, 70);
}
.container{
    width: 950px;
    margin: 0 auto;
    padding-top: 1px;
    padding-bottom: 20px;
    background-color: #fff;
}
.aside{
    margin-left: 45px;
}
.info{
    margin-right: 45px;
}
.header{
    display: flex;
    position: relative;
}
.header__right-block{
    width: 700px;
    height: 400px;
    background-color: #464646;
    margin-top: 100px;
    padding-left: 45px;
    padding-top: 100px;
    color: white;
    text-transform: uppercase;
    position: relative;
}
.header__title span{
    color: rgb(139, 139, 139);
}
.subtitle{
    color: rgb(139, 139, 139);
    font-size: 19px;
}
.header__title::before{
    content: "";
    display: block;
    width: 5px;
    height: 180px;
    background-color: #acacac;
    position: absolute;
    top: -101px;
    left: 45px;
}
.header__title::after{
    content: "";
    display: block;
    width: 5px;
    height: 150px;
    background-color: #acacac;
    position: absolute;
    bottom: 65px;
    left: 45px;
}
.social{
    margin-top: 128px;
    margin-left: 25px;
}
.social ul{
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
}
.social a{
    color: #fff;
    text-decoration: none;
}
.social a svg{
    display: block;
    width: 45px;
    height: 45px;
    color: #fff;
}
.header__avatar{
    width: 350px;
    position: absolute;
    top: 50px;
    right: 125px;
}
.header__avatar::after{
    content: "";
    display: block;
    width: 20px;
    height: 150px;
    background-color: #000;
    position: absolute;
    top: -51px;
    right: -125px;
}
.main{
    display: flex;
    margin-top: 40px;
}
.about-me, .education{
    margin-right: 40px;
    padding-bottom: 30px;
    border-bottom: 8px solid rgb(139, 139, 139);
}
.about-me h2,
.education h2{
    font-size: 35px;
    color: rgb(139, 139, 139);
    text-align: left;
    padding-bottom: 20px;
    padding-top: 15px;
    text-transform: capitalize;
}
.aside-social{
    display: flex;
    align-items: left;
    flex-direction: column;
    gap: 15px;
    list-style: none;
}
.aside-social li{
    display: flex;
    align-items: center;
    gap: 15px;
}
.aside-social img{
    width: 30px;
    vertical-align: bottom;
}
.aside-social a{
    text-decoration: none;
    color: rgb(70, 70, 70);
}
.code{
    margin-top: 20px;
    padding: 15px;
    font-size: 13px;
    background-color: #464646;
    color: #fff;
}